utohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault


! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
!rofi.color-enabled: true
!rofi.color-window: #002b37, #002b37, #003642
!rofi.color-normal: #002b37, #819396, #003643, #008ed4, #ffffff
!rofi.color-active: #002b37, #008ed4, #003643, #008ed4, #66c6ff
!rofi.color-urgent: #002b37, #da4281, #003643, #008ed4, #890661i

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #393939, #393939, #268bd2
rofi.color-normal: #393939, #ffffff, #393939, #268bd2, #ffffff
rofi.color-active: #393939, #268bd2, #393939, #268bd2, #205171
rofi.color-urgent: #393939, #f3843d, #393939, #268bd2, #ffc39c

rofi.font:	SF UI Text 13
